<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>

	<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="css/main.css">

	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<section id="loginLightbox" v-if="!isHidden">
			<section class="lb-content">
				<h1>Welcome!</h1>
				<h3>Welcome to your new favourite way to communicate due to the viral pandemic! Stay safe, wash your hands, and chat away!</h3>

				<!-- <label for="nickname">Nickname</label> -->
				<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What Should We Call You?">
				<input @click="addUsername" v-on:click="isHidden=true" id="usernameSubmit" type="submit">
			</section>
		</section>

		<section class="form-container">
			<h2 class="hidden">Messaging Section</h2>
			<img class="logo-header" src="../images/logo.svg" alt="CoronaCHAT Logo">
			<form>
				<label for="message">What Would You Like to Say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="showMessage" type="submit">
			</form>
			<!-- <br>
			<br>
			<h2>Online Users</h2>
			<h3>{{socket.id}}</h3> -->
		</section>

		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!-- render a new message component for every message -->
				<newmessage :msg="message"></newmessage>
			</ul>
		</section>
	</main>

	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>

</body>

</html>